**Time series**

Modul datetime menyediakan 3 tipe data: date, time dan datetime. Tipe data date, berisi tanggal, bulan dan tahun. Tipe data time, berisi jam, menit dan detik. Sedangkan tipe datetime berise kedua date dan time. Di sisi lain, Pandas memiliki objek Timestamp yang mewakili date dan time.

In [24]:
import datetime


date = datetime.date(year=2013, month=6, day=7)

time = datetime.time(hour=12, minute=30, second=19, microsecond=463198)

dt = datetime.datetime(year=2013, month=6, day=7, hour=12, minute=30, second=19, microsecond=463198)

In [12]:
print("date is ", date)
print("time is", time)
print("datetime is", dt)

date is  2013-06-07
time is 12:30:19.463198
datetime is 2013-06-07 12:30:19.463198

In [13]:
# Buat sebuah timedelta objek (salah 1 tipedata dalam datetime)

td = datetime.timedelta(weeks=2, days=5, hours=10, minutes=20, seconds=6.73, milliseconds=99, microseconds=8)

print(td)

19 days, 10:20:06.829008

In [15]:
# Tambahkan timedelta ke date dan objek datetime
print('new date is', date + td)
print('new datetime is', dt + td)

new date is 2013-06-26
new datetime is 2013-06-26 22:50:26.292206

In [18]:
# Menambahkan timedelta ke objek time tidak memungkinkan.
# time + td 

'''
Muncul pesan error: TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'
'''

"\nMuncul pesan error: TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.timedelta'\n"

In [27]:
# Gunakan Pandas dan objek Timestampnya.
import pandas as pd
from pandas import Timestamp

pd.Timestamp(year=2012, month=12, day=21, hour=5, minute=10, second=8, microsecond=99)

Timestamp('2012-12-21 05:10:08.000099')
pd.Timestamp('2016/1/10')

Timestamp('2016-01-10 00:00:00')

In [28]:
pd.Timestamp('2014-5/10')

Timestamp('2014-05-10 00:00:00')

In [30]:
pd.Timestamp('Jan 3, 2019 20:45.56')

Timestamp('2019-01-03 20:45:33')

In [31]:
 pd.Timestamp('2016-01-05T05:34:43.123456789')

Timestamp('2016-01-05 05:34:43.123456789')

In [35]:
'''
 Memungkinkan juga untuk kita menggunakan single integer ataupun float dengan Timestamp, yang mana akan mengembalikan tanggal yang sesuai dengan nilai nanosecond
'''


pd.Timestamp(500)

Timestamp('1970-01-01 00:00:00.000000500')

In [36]:
pd.Timestamp(5000, unit='D')

Timestamp('1983-09-10 00:00:00')

In [37]:
# Pandas menyediakan fungsi to_datetime yang bekerja dengan Timestamp.

pd.to_datetime('2015-5-13')

Timestamp('2015-05-13 00:00:00')

In [38]:
pd.to_datetime('2015-13-5', dayfirst=True)

Timestamp('2015-05-13 00:00:00')

In [39]:
pd.to_datetime('Start Date: Sep 30, 2017 Start Time: 1:30 pm', format='Start Date: %b %d, %Y Start Time: %I:%M %p')

Timestamp('2017-09-30 13:30:00')

Timestamp('2017-09-30 13:30:00')

In [40]:
pd.to_datetime(100, unit='D', origin='2013-1-1')

Timestamp('2013-04-11 00:00:00')

In [41]:
# fungsi to_datetime bisa digunakan untuk series dan dataframe

s = pd.Series([10, 100, 1000, 10000])
pd.to_datetime(s, unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [44]:
s = pd.Series(['12-5-2015', '14-1-2013', '20/12/2017', '40/23/2017'])

pd.to_datetime(s, dayfirst=True, errors='coerce')

0   2015-05-12
1   2013-01-14
2   2017-12-20
3          NaT
dtype: datetime64[ns]

In [48]:
microsoft = pd.read_csv('drive/My Drive/Bootcamp Data Science Python/Pekan 2/5. Time Series/microsoft_stock.csv', index_col='Date', parse_dates=True)
microsoft

              Open    High     Low   Close    Volume trading_volume
Date
2015-04-01   40.60   40.76   40.31   40.72  36865322            low
2015-04-02   40.66   40.74   40.12   40.29  37487476            low
2015-04-06   40.34   41.78   40.18   41.55  39223692            low
2015-04-07   41.61   41.91   41.31   41.53  28809375            low
2015-04-08   41.48   41.69   41.04   41.42  24753438            low
...            ...     ...     ...     ...       ...            ...
2021-03-25  235.30  236.94  231.57  232.34  34061853            low
2021-03-26  231.55  236.71  231.55  236.48  25479853            low
2021-03-29  236.59  236.80  231.88  235.24  25227455            low
2021-03-30  233.53  233.85  231.10  231.85  24792012            low
2021-03-31  232.91  239.10  232.39  235.77  43623471            low

[1511 rows x 6 columns]

In [50]:
# Selection and Filtering

#Kita bisa melakukan indexing hanya di waktu tertentu. seperti berikut:
microsoft['2021']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  after removing the cwd from sys.path.

              Open    High     Low   Close    Volume trading_volume
Date
2021-01-04  222.53  223.00  214.81  217.69  37130139            low
2021-01-05  217.26  218.52  215.70  217.90  23822953            low
2021-01-06  212.17  216.49  211.94  212.25  35930653            low
2021-01-07  214.04  219.34  213.71  218.29  27694480            low
2021-01-08  218.68  220.58  217.03  219.62  22956206            low
...            ...     ...     ...     ...       ...            ...
2021-03-25  235.30  236.94  231.57  232.34  34061853            low
2021-03-26  231.55  236.71  231.55  236.48  25479853            low
2021-03-29  236.59  236.80  231.88  235.24  25227455            low
2021-03-30  233.53  233.85  231.10  231.85  24792012            low
2021-03-31  232.91  239.10  232.39  235.77  43623471            low

[61 rows x 6 columns]

In [51]:
'''
Dalam case stock data, cara diatas menampilkan keseluruhan data saham di tahun 2021. 
Kita bisa melakukan filtering hanya menampilkan di bulan tertentu atau di range tertentu, seperti berikut:
'''

microsoft['2021-01']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

              Open    High     Low   Close    Volume trading_volume
Date
2021-01-04  222.53  223.00  214.81  217.69  37130139            low
2021-01-05  217.26  218.52  215.70  217.90  23822953            low
2021-01-06  212.17  216.49  211.94  212.25  35930653            low
2021-01-07  214.04  219.34  213.71  218.29  27694480            low
2021-01-08  218.68  220.58  217.03  219.62  22956206            low
2021-01-11  218.47  218.91  216.73  217.49  23047029            low
2021-01-12  216.50  217.10  213.32  214.93  23249336            low
2021-01-13  214.02  216.76  213.93  216.34  20087080            low
2021-01-14  215.91  217.46  212.74  213.02  29346737            low
2021-01-15  213.52  214.51  212.03  212.65  31746512            low
2021-01-19  213.75  216.98  212.63  216.44  30480859            low
2021-01-20  217.70  225.79  217.29  224.34  37777260            low
2021-01-21  224.70  226.30  222.42  224.97  30749553            low
2021-01-22  227.08  230.07  225.80  225.95  30172663            low
2021-01-25  229.12  229.78  224.22  229.53  33152095            low
2021-01-26  231.86  234.18  230.08  232.33  49169601         medium
2021-01-27  238.00  240.44  230.14  232.90  69870638         medium
2021-01-28  235.61  242.64  235.09  238.93  49111159         medium
2021-01-29  235.99  238.02  231.35  231.96  42503138            low

In [52]:
microsoft['2021-01-11':'2021-01-20']

              Open    High     Low   Close    Volume trading_volume
Date
2021-01-11  218.47  218.91  216.73  217.49  23047029            low
2021-01-12  216.50  217.10  213.32  214.93  23249336            low
2021-01-13  214.02  216.76  213.93  216.34  20087080            low
2021-01-14  215.91  217.46  212.74  213.02  29346737            low
2021-01-15  213.52  214.51  212.03  212.65  31746512            low
2021-01-19  213.75  216.98  212.63  216.44  30480859            low
2021-01-20  217.70  225.79  217.29  224.34  37777260            low

In [53]:
'''
Jika kita menginginkan untuk menampilkan 'beginning' dan 'end', Pandas memiliki atribut .first()
dan .last(). Sebagai contoh, kita ingin menampilkan harga saham di tahun 2021 pada minggu pertama :
'''
microsoft['2021'].first('1W')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """

              Open    High     Low   Close    Volume trading_volume
Date
2021-01-04  222.53  223.00  214.81  217.69  37130139            low
2021-01-05  217.26  218.52  215.70  217.90  23822953            low
2021-01-06  212.17  216.49  211.94  212.25  35930653            low
2021-01-07  214.04  219.34  213.71  218.29  27694480            low
2021-01-08  218.68  220.58  217.03  219.62  22956206            low

In [54]:
# Jika kita ingin menampilan harga saham minggu terakhir di tahun 2021, seperti berikut:
microsoft['2021'].last('1W')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

              Open    High     Low   Close    Volume trading_volume
Date
2021-03-29  236.59  236.80  231.88  235.24  25227455            low
2021-03-30  233.53  233.85  231.10  231.85  24792012            low
2021-03-31  232.91  239.10  232.39  235.77  43623471            low

**Time Grouping**

Dalam data time series, kita juga bisa melakukan grouping untuk menampilkan data berdasarkan waktu tertentu dan agregasi tertentu. Sebagai contoh, kita ingin menampilkan data saham microsoft di tahun 2021 dalam 1 pekan dengan kondisi harga yang ditampilkan pada 'Open' adalah yang pertama, 'High' adalah nilai maksimum, 'Low' adalah nilai minimum, 'Close' harga terakhir dan agregat 'sum' untuk Volume. Dengan menggunakan syntaks seperti berikut:

In [58]:
microsoft['2021'].groupby(pd.Grouper(freq='1W')).agg({'Open':'first', 'High':'max', 'Low':'min', 'Close': 'last', 'Volume':'sum'})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

              Open    High     Low   Close     Volume
Date
2021-01-10  222.53  223.00  211.94  219.62  147534431
2021-01-17  218.47  218.91  212.03  212.65  127476694
2021-01-24  213.75  230.07  212.63  225.95  129180335
2021-01-31  229.12  242.64  224.22  231.96  243806631
2021-02-07  235.06  245.09  232.43  242.20  129739486
2021-02-14  243.15  245.92  240.81  244.99  100275726
2021-02-21  245.03  246.13  240.18  240.97   90589762
2021-02-28  237.42  237.93  227.88  232.38  170376848
2021-03-07  235.90  237.47  224.26  231.60  168775377
2021-03-14  231.37  239.17  227.13  235.75  150656031
2021-03-21  234.96  240.06  229.35  230.35  164979946
2021-03-28  230.27  241.05  230.14  236.48  146927214
2021-04-04  236.59  239.10  231.10  235.77   93642938

Jika ingin mengubah-ubah waktu yang kita inginkan, maka lakukan perubahan pada bagian freq=' ' . Output dari syntaks di atas adalah:

**Shifting for Lagged Data**

Lagged data adalah data yang nilainya muncul dari nilai sebelumnya. Untuk melakukan shifting data, Pandas memiliki atribut .shift(). Misalkan kita ingin melihat harga saham di penutupan hari sebelumnya. Dengan menggunakan syntaks seperti berikut:

In [59]:
microsoft.assign(prior_close=lambda x: x.Close.shift(), after_hours_change_in_price=lambda x: x.Open - x.prior_close,abs_change=lambda x: x.after_hours_change_in_price.abs()).nlargest(5, 'abs_change')

,Open,High,Low,Close,Volume,trading_volume,prior_close,after_hours_change_in_price,abs_change
Date,,,,,,,,,
2020-03-16,140.00,149.35,135.00,135.42,87905868,medium,158.83,-18.83,18.83
2020-02-24,167.77,174.55,163.23,170.89,68311066,medium,178.59,-10.82,10.82
2020-03-09,151.00,157.75,150.00,150.62,70419274,medium,161.57,-10.57,10.57
2020-03-18,138.00,146.00,135.02,140.40,81593173,medium,146.57,-8.57,8.57
2020-03-13,147.50,161.91,140.73,158.83,92727446,high,139.06,8.44,8.44

**Differenced Data**

Kita telah mencoba membuat lagged data dengan menggunakan atribut shift(). Tetapi terkadang, kita tertarik untuk melihat bagaimana perubahan harga setiap harinya. Pandas memiliki atribut .diff() dengan formula seperti berikut:

Kita bisa menggunakan atribut .diff() untuk melihat perubahan harga saham microsoft setiap harinya.

In [60]:
microsoft.drop(columns='trading_volume').diff().head()

            Open  High   Low  Close      Volume
Date
2015-04-01   NaN   NaN   NaN    NaN         NaN
2015-04-02  0.06 -0.02 -0.19  -0.43    622154.0
2015-04-06 -0.32  1.04  0.06   1.26   1736216.0
2015-04-07  1.27  0.13  1.13  -0.02 -10414317.0
2015-04-08 -0.13 -0.22 -0.27  -0.11  -4055937.0

**Resampling**

Misalkan kita ingin melakukan resampling rata-rata triwulan harga saham micosoft harian, seperti berikut:

In [65]:
microsoft.resample('Q').mean().head()

                 Open       High        Low      Close        Volume
Date
2015-06-30  45.564921  46.036032  45.221429  45.628730  3.448351e+07
2015-09-30  44.841875  45.378125  44.409219  44.904531  3.398493e+07
2015-12-31  52.511094  53.057031  52.062188  52.622344  3.614105e+07
2016-03-31  52.428852  52.981967  51.762295  52.421803  3.895300e+07
2016-06-30  51.892656  52.362031  51.496875  51.964687  3.209191e+07

**Time Merging**

Dalam data time series, kita bisa melakukan merging. kita dapat menggunakan pd.merge_asof() untuk mencocokkan di sekitar key daripada pada key yang sama. Di sisi lain, jika kita mau mencocokkan key yang sama dan menggunakan key tanpa kecocokan, kita dapat menggunakan pd.merge_ordered()