In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#data preparation
import pandas as pd

df = pd.read_csv('drive/My Drive/Bootcamp Data Science Python/Pekan 2/2. Akses Indexing dan Transformasi Data/Students Performance.csv')

df

    gender parental level of education test preparation course  nilai
0     male                some college                    none     43
1     male            some high school               completed     77
2     male                some college               completed     83
3     male             bachelor degree               completed     83
4   female             bachelor degree                    none     73
..     ...                         ...                     ...    ...
95    male                 high school                    none     30
96  female                 high school                    none     62
97    male                 high school                    none     71
98    male            associate degree                    none     66
99    male                some college               completed     85

[100 rows x 4 columns]



---



---

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column 'gender' dan 'parental level of education' saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 10 sampai 20 beserta column 'test preparation course' dan 'nilai'

In [7]:
# 1.1 indexing terhadap dataframe untuk mengakses column 'gender' dan 'parental level of education'
#code here
df[['gender','parental level of education']]

    gender parental level of education
0     male                some college
1     male            some high school
2     male                some college
3     male             bachelor degree
4   female             bachelor degree
..     ...                         ...
95    male                 high school
96  female                 high school
97    male                 high school
98    male            associate degree
99    male                some college

[100 rows x 2 columns]

In [12]:
# 1.2 indexing terhadap dataframe untuk mengakses row 10 sampai 20 beserta column 'test preparation course' dan 'nilai'
#code here
df.iloc[10:21,[2,3]]

   test preparation course  nilai
10                    none     68
11               completed     63
12                    none     64
13                    none     47
14                    none     77
15               completed     52
16               completed     34
17                    none     29
18                    none     40
19                    none     75
20                    none     80

Expected output :

poin a:

![alt text](https://drive.google.com/uc?id=10IktjvsNtqzhq7H7vrP7wvQTVx5EWJjA)


poin b:

![alt text](https://drive.google.com/uc?id=1Dc2OdbTATwZRsPC24rSH3citYmfyrVHv)



---



---

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa yang level pendidikan orang tuanya 'high school' dan 'bachelor degree'
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 dengan test preparation course 'completed'
3. Tampilkan semua data siswa yang mempunyai nilai lebih dari 70, berjenis kelamin perempuan dengan test preparation course 'completed'

In [16]:
# 2.1 semua data siswa yang level pendidikan orang tuanya 'high school' dan 'bachelor degree'
#code here

pendidikan1 = df['parental level of education'] == 'high school'
pendidikan2 = df['parental level of education'] == 'bachelor degree'

df[(pendidikan1) | (pendidikan2)]

    gender parental level of education test preparation course  nilai
3     male             bachelor degree               completed     83
4   female             bachelor degree                    none     73
7   female             bachelor degree                    none     71
8   female             bachelor degree                    none     67
15  female                 high school               completed     52
16  female                 high school               completed     34
17  female                 high school                    none     29
19  female                 high school                    none     75
23    male                 high school                    none     78
24    male                 high school                    none     71
27  female                 high school               completed     77
28    male                 high school               completed     67
29    male                 high school                    none     87
31    male             bachelor degree                    none     60
34  female             bachelor degree                    none     56
37  female             bachelor degree               completed     77
39  female             bachelor degree               completed     97
41    male                 high school                    none     57
43    male                 high school                    none     62
51  female                 high school                    none     71
52  female                 high school                    none     65
60  female             bachelor degree                    none     85
61    male             bachelor degree                    none     64
63    male             bachelor degree                    none     68
67    male                 high school                    none     79
70    male                 high school                    none     52
73  female                 high school                    none     82
74    male                 high school               completed     70
76    male                 high school                    none     68
80    male                 high school                    none     69
95    male                 high school                    none     30
96  female                 high school                    none     62
97    male                 high school                    none     71

In [20]:
# 2.2 semua data siswa yang mempunyai nilai lebih dari 50 dengan test preparation course 'completed'

#code
df.loc[(df['nilai'] > 50) & (df['test preparation course'] == 'completed')]

    gender parental level of education test preparation course  nilai
1     male            some high school               completed     77
2     male                some college               completed     83
3     male             bachelor degree               completed     83
5   female               master degree               completed     71
6   female                some college               completed     78
11  female            some high school               completed     63
15  female                 high school               completed     52
27  female                 high school               completed     77
28    male                 high school               completed     67
35    male                some college               completed     94
37  female             bachelor degree               completed     77
39  female             bachelor degree               completed     97
42    male            associate degree               completed     65
46  female                some college               completed     71
49    male            some high school               completed     80
53    male            associate degree               completed     68
55  female            associate degree               completed     76
58  female               master degree               completed     89
62    male            some high school               completed     69
64  female                some college               completed     74
72  female            associate degree               completed     68
74    male                 high school               completed     70
75  female                some college               completed     91
79    male                some college               completed     67
86  female            some high school               completed     66
93    male            associate degree               completed     76
94  female                some college               completed     78
99    male                some college               completed     85

In [21]:
# 2.3 semua data siswa yang mempunyai nilai lebih dari 70, berjenis kelamin perempuan dengan test preparation course 'completed'

#code
df.loc[(df['nilai'] > 70) & (df['gender'] == 'female') & (df['test preparation course'] == 'completed')]

    gender parental level of education test preparation course  nilai
5   female               master degree               completed     71
6   female                some college               completed     78
27  female                 high school               completed     77
37  female             bachelor degree               completed     77
39  female             bachelor degree               completed     97
46  female                some college               completed     71
55  female            associate degree               completed     76
58  female               master degree               completed     89
64  female                some college               completed     74
75  female                some college               completed     91
94  female                some college               completed     78

Expected output: 

poin a:(tampilan hanya sebagian)

![alt text](https://drive.google.com/uc?id=1UiNs119fMKgPVa1SiIZxojC5iOkW2Ub1)


poin b: (tampilan hanya sebagian)

![alt text](https://drive.google.com/uc?id=13fc9IaUbwfzLiNgX6jEoLLuUjYli_YJq)

poin c:

![alt text](https://drive.google.com/uc?id=1SYby1GosYEyMQ26KdGOzvL48cKXpikp1)



---



---

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [30]:
#code here
def normalisasi(x):
    return (x - (x.min()/(x.max()-x.min())))

print(df.nilai)
print('nilai minimum: ',df.nilai.min())
print('nilai maximum: ',df.nilai.max())
print('nilai min/(max-min): ',df.nilai.min()/(df.nilai.max()-df.nilai.min()))
print('\nHasil Normalisasi Nilai:')
df[['nilai']].apply(normalisasi)

0     43
1     77
2     83
3     83
4     73
      ..
95    30
96    62
97    71
98    66
99    85
Name: nilai, Length: 100, dtype: int64
nilai minimum:  29
nilai maximum:  97
nilai min/(max-min):  0.4264705882352941

Hasil Normalisasi Nilai:

        nilai
0   42.573529
1   76.573529
2   82.573529
3   82.573529
4   72.573529
..        ...
95  29.573529
96  61.573529
97  70.573529
98  65.573529
99  84.573529

[100 rows x 1 columns]



---



---