In [2]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          550                 98
1        UAS1         Fisika                          528                 70
2        UTS2         Fisika                          340                 80
3        UAS2         Fisika                          385                 87
4        UTS1     Matematika                          441                 71
5        UAS1     Matematika                          480                 75
6        UTS2     Matematika                          741                 59
7        UAS2     Matematika                          660                 99
8        UTS1     Statistika                          368                 70
9        UAS1     Statistika                          593                 95
10       UTS2     Statistika                          459                 94
11       UAS2     Statistika                          773                 79



---



---

## Soal 1. Data Cleaning

Lakukan sorting data berdasarkan Rata2 nilai ujian dari terbesar ke terkecil

*   Lakukan sorting data berdasarkan Rata2 nilai ujian dari terbesar ke terkecil
*   Tipe Ujian dan Mata pelajaran apakah yang memiliki rata2 nilai terkecil?

In [3]:
# 1.1 sorting data berdasarkan Rata2 nilai ujian dari terbesar ke terkecil

#code here
df.sort_values('Rata2 Nilai Ujian', ascending=False)

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
7        UAS2     Matematika                          660                 99
0        UTS1         Fisika                          550                 98
9        UAS1     Statistika                          593                 95
10       UTS2     Statistika                          459                 94
3        UAS2         Fisika                          385                 87
2        UTS2         Fisika                          340                 80
11       UAS2     Statistika                          773                 79
5        UAS1     Matematika                          480                 75
4        UTS1     Matematika                          441                 71
1        UAS1         Fisika                          528                 70
8        UTS1     Statistika                          368                 70
6        UTS2     Matematika                          741                 59

Expected output:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1iv8P-LDdN3WpTVX9qST3kL7QSNSDiOc2)

***Tipe Ujian dan Mata pelajaran apakah yang memiliki rata2 nilai terkecil adalah UTS 2 dan Matematika***



---



---

<h2>Soal 2: Data Restructuring</h2>

Jelaskan itu pivoting dan melting data

**Pivoting** adalah suatu pengubahan bentuk data dengan memutar data yang terletak di baris menjadi di column.

**Melting** adalah ‘unpivoting’, melting mengubah suatu data dengan memutar dari yang tadinya berada di posisi column menjadi di posisi row.



---



---

<h2>Soal 3: Reshaping Data 1</h2>

In [5]:
import pandas as pd
import random

data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)
df

   Tipe Ujian Mata Pelajaran  Rata2 Waktu Belajar (menit)  Rata2 Nilai Ujian
0        UTS1         Fisika                          591                 85
1        UAS1         Fisika                          561                 72
2        UTS2         Fisika                          244                 72
3        UAS2         Fisika                          334                 74
4        UTS1     Matematika                          328                 49
5        UAS1     Matematika                          615                 55
6        UTS2     Matematika                          287                 65
7        UAS2     Matematika                          774                 95
8        UTS1     Statistika                          315                 81
9        UAS1     Statistika                          392                 76
10       UTS2     Statistika                          648                 68
11       UAS2     Statistika                          666                 56

Perhatikan data di atas, kemudian ubahlah bentuknya agar sesuai yang di harapkan.

In [10]:
#code here
df.pivot_table(index='Tipe Ujian', columns='Mata Pelajaran', values=['Rata2 Nilai Ujian','Rata2 Waktu Belajar (menit)'])

               Rata2 Nilai Ujian                        \
Mata Pelajaran            Fisika Matematika Statistika
Tipe Ujian
UAS1                          72         55         76
UAS2                          74         95         56
UTS1                          85         49         81
UTS2                          72         65         68

               Rata2 Waktu Belajar (menit)
Mata Pelajaran                      Fisika Matematika Statistika
Tipe Ujian
UAS1                                   561        615        392
UAS2                                   334        774        666
UTS1                                   591        328        315
UTS2                                   244        287        648

Expected Result:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1XufsfqZe7-XZLsb92SpATexy-QRZE0ow)



---



---

<h2>Soal 4: Reshaping Data 2</h2>

In [31]:
import pandas as pd

data = {
    'Hari' : ['Sabtu', 'Minggu'],
    'Kebun Binatang' : [271, 399],
    'Dufan' : [501, 700],
    'Disney' : [1000, 1001],
    'Bali' : [900, 803]
}
df = pd.DataFrame(data).set_index('Hari')
df

        Kebun Binatang  Dufan  Disney  Bali
Hari
Sabtu              271    501    1000   900
Minggu             399    700    1001   803

diatas adalah data tentang jumlah pengunjung di berbagai tempat hiburan, ubahlah struktur data tersebut sehingga sesuai dengan hasil yang diharapkan.

In [32]:
#code here
df.reset_index(inplace=True)
df.melt()

         variable   value
0            Hari   Sabtu
1            Hari  Minggu
2  Kebun Binatang     271
3  Kebun Binatang     399
4           Dufan     501
5           Dufan     700
6          Disney    1000
7          Disney    1001
8            Bali     900
9            Bali     803

In [34]:
df.melt(id_vars='Hari', var_name='Tempat Hiburan', value_name='Pengunjung')

     Hari  Tempat Hiburan  Pengunjung
0   Sabtu  Kebun Binatang         271
1  Minggu  Kebun Binatang         399
2   Sabtu           Dufan         501
3  Minggu           Dufan         700
4   Sabtu          Disney        1000
5  Minggu          Disney        1001
6   Sabtu            Bali         900
7  Minggu            Bali         803

Expected Result:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=159mIqcyfeD30EEcyZmmkovORa6cZDLtn)



---



---

<h2>Soal 5: Data Enrichment</h2>

Lakukan binning data menggunakan qcut sehingga sesuai hasil yang diharapkan

In [42]:
#code here
data = {
    'Tipe Ujian' : ['UTS1', 'UAS1', 'UTS2', 'UAS2']*3,
    'Mata Pelajaran' : ['Fisika']*4 + ['Matematika']*4+['Statistika']*4,
    'Rata2 Waktu Belajar (menit)' : [random.choice(range(200, 800)) for i in range(12)],
    'Rata2 Nilai Ujian' : [random.choice(range(40, 100)) for i in range(12)] 
}

df = pd.DataFrame(data)

#membuat keterangan lulus
keterangan = ['tidak lulus','remidial','lulus']

#menggungkan qcut untuk membagi data nilai menjadi 3 interval dan memberikan label berdasarkan masing-masing interval.
df['Keterangan lulus'] = pd.qcut(df['Rata2 Nilai Ujian'], q = 3, labels=keterangan)
df

,Tipe Ujian,Mata Pelajaran,Rata2 Waktu Belajar (menit),Rata2 Nilai Ujian,Keterangan lulus
0,UTS1,Fisika,596,91,lulus
1,UAS1,Fisika,506,83,lulus
2,UTS2,Fisika,309,75,remidial
3,UAS2,Fisika,339,64,tidak lulus
4,UTS1,Matematika,274,68,remidial
5,UAS1,Matematika,323,86,lulus
6,UTS2,Matematika,392,78,remidial
7,UAS2,Matematika,227,66,remidial
8,UTS1,Statistika,695,65,tidak lulus
9,UAS1,Statistika,287,55,tidak lulus
10,UTS2,Statistika,414,54,tidak lulus
11,UAS2,Statistika,609,87,lulus

Expected Output:

(Output bisa berbeda-beda)

![alt text](https://drive.google.com/uc?id=1h2_u5_xhD1_QtPpItTj-o3lljHhnr4XS)



---



---